{% extends 'base.html.twig' %}

{% block title %}IMPORT FILE!{% endblock %}

{% block body %}
<div class="container">  

    <div id="overlay"></div>
    <div id="flashMessageModal" class="flash-modal">
        {% for label, messages in app.flashes(['success', 'error']) %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    {# FROMULAIRE IMPORT DE FICHIER #}

    <div class="card-form">
        <h1>Importer un fichier</h1>

        {{ form_start(form) }}

        <div class="form-group">
            {{ form_label(form.file, null, {'label_attr': {'class': 'control-label'}}) }}
            {{ form_errors(form.file) }}
            {{ form_widget(form.file, {'attr': {'class': 'form-control-file'}}) }}
        </div>

        <button type="submit" class="btn btn-primary">Importer</button>

        {{ form_end(form) }}
    </div>

<div class="card-table">
    <table class="table" id="tableau">
        <thead>
            <tr>
                <th>Compte Affaire</th>
                <th>Compte évènement (Veh)</th>
                <th>Compte dernier évènement (Veh)</th>
                <th>Numéro de fiche</th>
                <th>Libellé civilité</th>
                <th>Propriétaire actuel du véhicule</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>N° et Nom de la voie</th>
                <th>Complément adresse 1</th>
                <th>Code postal</th>
                <th>Ville</th>
                <th>Téléphone domicile</th>
                <th>Téléphone portable</th>
                <th>Téléphone job</th>
                <th>Email</th>
                <th>Date de mise en circulation</th>
                <th>Date achat (date de livraison)</th>
                <th>Date dernier évènement (Veh)</th>
                <th>Libellé marque (Mrq)</th>
                <th>Libellé modèle (Mod)</th>
                <th>Version</th>
                <th>VIN</th>
                <th>Immatriculation</th>
                <th>Type de prospect</th>
                <th>Kilométrage</th>
                <th>Libellé énergie (Energ)</th>
                <th>Vendeur VN</th>
                <th>Vendeur VO</th>
                <th>Commentaire de facturation (Veh)</th>
                <th>Type VN VO</th>
                <th>Numéro de dossier VN VO</th>
                <th>Intermediaire de vente VN</th>
                <th>Date évènement (Veh)</th>
                <th>Origine évènement (Veh)</th>
            </tr>
        </thead>
        <tbody>
            {% for vehicule in datas %}
                <tr>
                    <td>{{ vehicule.CompteAffaire }}</td>
                    <td>{{ vehicule.CompteEvenement }}</td>
                    <td>{{ vehicule.CompteDernierEvenement }}</td>
                    <td>{{ vehicule.NumeroFiche }}</td>
                    <td>{{ vehicule.Civilite }}</td>
                    <td>{{ vehicule.ProprietaireActuel }}</td>
                    <td>{{ vehicule.Nom }}</td>
                    <td>{{ vehicule.Prenom }}</td>
                    <td>{{ vehicule.AdresseVoie }}</td>
                    <td>{{ vehicule.ComplementAdresse }}</td>
                    <td>{{ vehicule.CodePostal }}</td>
                    <td>{{ vehicule.Ville }}</td>
                    <td>{{ vehicule.TelDomicile }}</td>
                    <td>{{ vehicule.TelPortable }}</td>
                    <td>{{ vehicule.TelTravail }}</td>
                    <td>{{ vehicule.Email }}</td>
                    <td>{{ vehicule.DateMiseCirculation|date('d/m/Y') }}</td>
                    <td>{{ vehicule.DateAchat|date('d/m/Y') }}</td>
                    <td>{{ vehicule.DateDernierEvenement|date('d/m/Y') }}</td>
                    <td>{{ vehicule.Marque }}</td>
                    <td>{{ vehicule.Modele }}</td>
                    <td>{{ vehicule.VersionModele }}</td>
                    <td>{{ vehicule.VIN }}</td>
                    <td>{{ vehicule.Immatriculation }}</td>
                    <td>{{ vehicule.TypeProspect }}</td>
                    <td>{{ vehicule.Kilometrage }}</td>
                    <td>{{ vehicule.TypeEnergie }}</td>
                    <td>{{ vehicule.VendeurVn }}</td>
                    <td>{{ vehicule.VendeurVo }}</td>
                    <td>{{ vehicule.CommentaireFacturation }}</td>
                    <td>{{ vehicule.TypeTransaction }}</td>
                    <td>{{ vehicule.NumeroDossierTransaction }}</td>
                    <td>{{ vehicule.IntermediaireVenteVn }}</td>
                    <td>{{ vehicule.DateEvenement|date('d/m/Y') }}</td>
                    <td>{{ vehicule.OrigineEvenement }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}
