<div class="profile-info">
    <img src="{{asset('/images/profile.jpg')}}" class="img-profile">
    <p>TOLOJANAHARY Maminiaina Henri</p>
    <a href="https://www.linkedin.com/in/henri-niaina-b60877235/">https://www.linkedin.com/in/henri-niaina-b60877235</a>
</div>
