*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    font-family:Arial;
}
header{
    height: 100vh;
    width: 100vw;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
}

.alert {
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    &.success {
        background-color: #d4edda;
        color: #155724;
    }
    &.danger {
        background-color: #f8d7da;
        color: #721c24;
    }
}

// .card-table {
//     overflow-x: auto; 
// }

.card-form {
    padding: 20px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;

    h1 {
        font-size: 1.5em;
        margin-bottom: 20px;
        color: #333;
    }

    .form-group {
        margin-bottom: 20px;

        .control-label {
            display: block;
            margin-bottom: 5px;
            font-weight: 500;
            color: #555;
        }

        .form-control-file {
            padding: 5px 10px;
            border: 1px solid #e1e1e1;
            border-radius: 5px;
            display: inline-block;

            &:hover {
                border-color: #aaa;
            }

            &:focus {
                outline: none;
                border-color: #007bff;
            }
        }

        p {
            color: red;
            font-size: 0.9em;
        }
    }

    .btn {
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: #0056b3;
        }
    }
}


.alert {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;

    &.alert-success {
        background-color: #d4edda;
        border-color: #c3e6cb;
        color: #155724;
    }

    &.alert-danger {
        background-color: #f8d7da;
        border-color: #f5c6cb;
        color: #721c24;
    }
}
.card-form, .card-table {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    h1 {
        margin-top: 0;
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
    }
}

.errors {
    color: red;
    margin: 10px 0;

    p {
        margin: 0;
        font-size: 14px;
    }
}

.table {
    // width: 100%;
    max-width: 100%;
    display: block;
    border-collapse: collapse;
    // overflow-x: auto; 
    th, td {
        padding: 6px 10px;
        border: 1px solid #ddd;
        font-size: 0.7em;
    }

    th {
        background-color: #f5f5f5;
        text-align: left;
    }
    tbody tr:nth-child(odd) {
        background-color: #f2f2f2;
    }

    tbody tr:hover {
        background-color: #e9e9e9;
    }
}

button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #0056b3;
    }
}

.dt-button-collection {
    max-height: 300px;  /* ou la hauteur de votre choix */
    overflow-y:scroll !important;
    font-size:0.8em;
    padding: 5px;
    width: 100% !important;
    // cible le menu deroulant associe
    + .dt-button-collection{
        width: 100%;
    }
    &::before {
        font-size:0.8em; // size de l'icon du button
    }
}

// FLASH MESSAGE STYLE
.flash-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none; // Par défaut, la modal est cachée
}

.flash-success {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #c3e6cb;
    border-radius: 4px;
}

.flash-error {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 1000;
}

#flashMessageModal {
    // Ici, vous pouvez ajouter des styles spécifiques pour le modal de message flash
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 1001; // Il doit être supérieur à l'overlay pour apparaître dessus
}

.profile-info{
    position: relative;
    height: 27%;
    margin-top: 27px;
    padding: 27px;
    background-color: rgb(247, 247, 247);
    box-shadow: 7;
}
.profile-info p {
    font-size: 1em;
    font-weight: bold;
}
.img-profile{
    border-radius:7px;
    width: 2em;
}